<a href="https://colab.research.google.com/github/ocalzada/DS-Unit-2-Regression-Classification/blob/master/module2/assignment_regression_classification_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science, Unit 2: Predictive Modeling

# Regression & Classification, Module 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [X] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [X] Engineer at least two new features. (See below for explanation & ideas.)
- [X] Fit a linear regression model with at least two features.
- [X] Get the model's coefficients and intercept.
- [X] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [X] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [X] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Do the [Plotly Dash](https://dash.plot.ly/) Tutorial, Parts 1 & 2.
- [ ] Add your own stretch goal(s) !

In [0]:
# If you're in Colab...
import os, sys
in_colab = 'google.colab' in sys.modules

if in_colab:
    # Install required python packages:
    # pandas-profiling, version >= 2.0
    # plotly, version >= 4.0
    !pip install --upgrade pandas-profiling plotly
    
    # Pull files from Github repo
    os.chdir('/content')
    !git init .
    !git remote add origin https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification.git
    !git pull origin master
    
    # Change into directory for module
    os.chdir('module1')

In [0]:
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv('../data/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [117]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [118]:
# training data april & may
# test data june.

# first, must convert 'created' object into a datetime
import pandas as pd
df['created'] = pd.to_datetime(df['created'])
df.dtypes

bathrooms                      float64
bedrooms                         int64
created                 datetime64[ns]
description                     object
display_address                 object
latitude                       float64
longitude                      float64
price                            int64
street_address                  object
interest_level                  object
elevator                         int64
cats_allowed                     int64
hardwood_floors                  int64
dogs_allowed                     int64
doorman                          int64
dishwasher                       int64
no_fee                           int64
laundry_in_building              int64
fitness_center                   int64
pre-war                          int64
laundry_in_unit                  int64
roof_deck                        int64
outdoor_space                    int64
dining_room                      int64
high_speed_internet              int64
balcony                          int64
swimming_pool                    int64
new_construction                 int64
terrace                          int64
exclusive                        int64
loft                             int64
garden_patio                     int64
wheelchair_access                int64
common_outdoor_space             int64
dtype: object

In [119]:
# created a month feature to then split my data by month

df['month_listed'] = df['created'].dt.month

df.head()

   bathrooms  bedrooms  ... common_outdoor_space month_listed
0        1.5         3  ...                    0            6
1        1.0         2  ...                    0            6
2        1.0         1  ...                    0            4
3        1.0         1  ...                    0            4
4        1.0         4  ...                    0            4

[5 rows x 35 columns]

In [120]:
df.query('month_listed ==4')

       bathrooms  bedrooms  ... common_outdoor_space month_listed
2            1.0         1  ...                    0            4
3            1.0         1  ...                    0            4
4            1.0         4  ...                    0            4
5            2.0         4  ...                    0            4
6            1.0         2  ...                    0            4
7            2.0         1  ...                    0            4
8            1.0         1  ...                    0            4
9            2.0         4  ...                    0            4
10           1.0         0  ...                    0            4
12           1.0         2  ...                    0            4
13           2.0         2  ...                    0            4
15           1.0         0  ...                    0            4
16           1.0         2  ...                    0            4
17           1.0         1  ...                    0            4
18           1.0         4  ...                    0            4
19           1.0         1  ...                    0            4
20           1.0         3  ...                    0            4
21           1.0         2  ...                    0            4
22           1.0         1  ...                    0            4
23           1.0         1  ...                    0            4
25           3.5         4  ...                    0            4
26           1.0         1  ...                    0            4
27           1.0         1  ...                    0            4
29           2.0         2  ...                    0            4
30           1.0         0  ...                    0            4
31           1.0         2  ...                    0            4
32           1.0         1  ...                    0            4
33           1.0         2  ...                    0            4
35           1.0         1  ...                    0            4
37           1.0         0  ...                    0            4
...          ...       ...  ...                  ...          ...
49319        1.0         2  ...                    0            4
49321        2.0         2  ...                    0            4
49322        1.0         1  ...                    0            4
49323        1.0         1  ...                    0            4
49324        1.0         0  ...                    0            4
49325        1.0         2  ...                    0            4
49326        2.0         2  ...                    0            4
49327        1.0         1  ...                    0            4
49328        1.0         1  ...                    0            4
49329        1.0         2  ...                    0            4
49330        1.0         1  ...                    0            4
49331        1.5         0  ...                    0            4
49333        1.0         1  ...                    0            4
49334        2.0         2  ...                    1            4
49335        1.0         1  ...                    0            4
49336        2.0         3  ...                    0            4
49337        1.0         0  ...                    0            4
49338        2.0         3  ...                    0            4
49339        1.0         3  ...                    0            4
49340        1.0         1  ...                    0            4
49341        1.0         0  ...                    1            4
49342        1.0         1  ...                    0            4
49343        1.0         1  ...                    0            4
49344        1.0         1  ...                    0            4
49345        1.0         1  ...                    0            4
49346        1.0         1  ...                    0            4
49348        1.0         1  ...                    1            4
49349        1.0         1  ...                    0            4
49350        1.0         0  ...                    0            4
49351        1.0         2  ...                    0            4

[16217 rows x 35 columns]

In [121]:
df['total_rooms'] = df['bathrooms'] + df['bedrooms']
df.head()

   bathrooms  bedrooms  ... month_listed total_rooms
0        1.5         3  ...            6         4.5
1        1.0         2  ...            6         3.0
2        1.0         1  ...            4         2.0
3        1.0         1  ...            4         2.0
4        1.0         4  ...            4         5.0

[5 rows x 36 columns]

In [0]:
df['central_park'] = df['description'].str.contains('central park')

df['central_park'].value_counts()

df = df.dropna()

In [123]:
# isolating April and May data to create my training dataset
mask = (df['month_listed'] >= 4) & (df['month_listed'] <=5)
mask.value_counts()

True     30806
False    16454
Name: month_listed, dtype: int64

In [124]:
train = df[mask]
train.isnull().sum()

bathrooms               0
bedrooms                0
created                 0
description             0
display_address         0
latitude                0
longitude               0
price                   0
street_address          0
interest_level          0
elevator                0
cats_allowed            0
hardwood_floors         0
dogs_allowed            0
doorman                 0
dishwasher              0
no_fee                  0
laundry_in_building     0
fitness_center          0
pre-war                 0
laundry_in_unit         0
roof_deck               0
outdoor_space           0
dining_room             0
high_speed_internet     0
balcony                 0
swimming_pool           0
new_construction        0
terrace                 0
exclusive               0
loft                    0
garden_patio            0
wheelchair_access       0
common_outdoor_space    0
month_listed            0
total_rooms             0
central_park            0
dtype: int64

In [0]:
mask2 = (df['month_listed']==6)

test = df[mask2]

test

In [126]:
# pick my model
from sklearn.linear_model import LinearRegression
#instantiate model
model = LinearRegression()

# pick features matrix and target vector
features = ['total_rooms', 'central_park']
target = 'price'

model.fit(train[features], train[target])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [127]:
# intercept
print('Intercept', model.intercept_)

Intercept 1351.7748364703589

In [128]:
coefficients = pd.Series(model.coef_, features)
print(coefficients)

total_rooms     809.681843
central_park    416.518768
dtype: float64

In [131]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

#calculate regression metrics for Training data

y = train[target]
y_pred = model.predict(train[features])

mse = mean_squared_error(y, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y, y_pred)
r2 = r2_score(y, y_pred)

print('Mean Squared Error:', round(mse))
print('Root Mean Squared Error:', round(rmse))
print('Mean Absolute Error:', round(mae))
print('R^2:', r2)

Mean Squared Error: 1796679.0
Root Mean Squared Error: 1340.0
Mean Absolute Error: 890.0
R^2: 0.42270925161210937

In [132]:
#calculate regression metrics for testing data

y = test[target]
y_pred = model.predict(test[features])

mse = mean_squared_error(y, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y, y_pred)
r2 = r2_score(y, y_pred)

print('Mean Squared Error:', round(mse))
print('Root Mean Squared Error:', round(rmse))
print('Mean Absolute Error:', round(mae))
print('R^2:', r2)

Mean Squared Error: 1798719.0
Root Mean Squared Error: 1341.0
Mean Absolute Error: 909.0
R^2: 0.42396704069761326

In [0]:
# Read New York City apartment rental listing data
df = pd.read_csv('../data/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme prices,
# the most extreme latitudes, &
# the most extreme longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 90.0)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 90.00)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 90.00))]

In [0]:
import pandas as pd
#convert created object into datetime
df['created'] = pd.to_datetime(df['created'])

#split dataset into train and test sets
df['month_listed'] = df['created'].dt.month

#train data == april & may
mask = (df['month_listed'] >= 4) & (df['month_listed'] <=5)
train = df[mask]

# test data == june
mask2 = (df['month_listed']==6)
test = df[mask2]

In [172]:

# pick features matrix and target vector
features = ['bedrooms', 'bathrooms']
target = 'price'

model.fit(train[features], train[target])

y = train[target]
y_pred = model.predict(train[features])

mse = mean_squared_error(y, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y, y_pred)
r2 = r2_score(y, y_pred)

print('Mean Squared Error:', round(mse))
print('Root Mean Squared Error:', round(rmse))
print('Mean Absolute Error:', round(mae))
print('R^2:', r2)

Mean Squared Error: 505064.0
Root Mean Squared Error: 711.0
Mean Absolute Error: 553.0
R^2: 0.4306777845255302

In [173]:
y = test[target]
y_pred = model.predict(test[features])

mse = mean_squared_error(y, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y, y_pred)
r2 = r2_score(y, y_pred)

print('Mean Squared Error:', round(mse))
print('Root Mean Squared Error:', round(rmse))
print('Mean Absolute Error:', round(mae))
print('R^2:', r2)

Mean Squared Error: 516403.0
Root Mean Squared Error: 719.0
Mean Absolute Error: 564.0
R^2: 0.4033761654343816

In [0]:
# tinkering with data to obtain better testing MAE
#bedrooms, dogs_allowed
#bedrooms, longitude
#bedrooms, bathrooms